/*Fonts*/
/*Tungsten*/
@font-face {
    font-family: "Tungsten";
    src: url(../fonts/Tungsten-Semibold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Tungsten";
    src: url(../fonts/Tungsten-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Tungsten";
    src: url(../fonts/Tungsten-Bold.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Tungsten";
    src: url(../fonts/Tungsten-Light.ttf) format("truetype");
    font-weight: 100;
}

/*Archer*/
@font-face {
    font-family: "ArcherPro";
    src: url(../fonts/ArcherPro-Medium.otf) format("opentype");
}



/*Text Highlight Navbar*/
div.navContainer
{
    font-family: Tungsten;
    /*margin: 0 auto;*/
    /*padding: 0em 3em;*/

    text-align: center;
    height: 64px;
    background-color: #1D2731;
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 100%;

}

div.highlightTextIn a:hover
{
    color: #000000;
    background-color: #D9B310 !important;
    /*padding: 10px;*/
    overflow: hidden;
    content: attr(alt);
    transition: all 1s;
    transform: scale(1);
    opacity: 1;
}

div.highlightTextIn a
{
    color: white;
    text-decoration: none;
    font: 50px Tungsten;
    font-weight: lighter;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

/*HR Fancy*/
hr.fancy {
    display: block;
    border: 0;
    height: 55px;
    background-image: url(../images/hrFancy.png);
    background-repeat: no-repeat;
    /*margin: auto;*/
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

/*Home Page Yellow Section*/
.yellowCard {
    background-color: #D9B310;
    position: relative;
    /*top: 100px;*/
    height: 300px;
    overflow: auto;
    opacity: 1;
    width: 100%;
}

.yellowCard > .headerText {
    font-family: Tungsten;
    font-size: 100px;
    width: 100%;
    text-align: center;
    /*margin: auto;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.yellowCard .bodyText {
    font-family: ArcherPro;
    font-size: 20px;
    text-align: center;
}

.homepageInfobox {
    float: left;
    /*background-color: #f1f2f3;*/
    padding: 20px;
    width: 47%;
    height: 50%;
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #D9B310;
    border-radius: 4px;
}

.infoboxText {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: Tungsten;
    font-weight: 100;

}

#infoboxCompanies {
    float: right;
}


/*Portfolio Page*/
.portfolioPage {
    height: 500px;
    background-color: #0B3C5D;
}

/* ARTICLE TILES */
.article {
    background-color: #f1f2f3;
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.5);
    border-color: #f1f2f3;
    margin-top: 25px;
    font-family: ArcherPro;
}

.article-image {
    background: url(http://lorempixel.com/640/220/nature);
    background-position: center;
    border-radius: 2px 2px 0 0;
    height: 220px;
    max-width: 100%;
}

.datestamp {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: .68em;
    position: absolute;
    top: 197px;
    right: 0;
    border-radius: 2px 0 0 0;
}

.article-body {
    padding: 24px 30px 0;
}

.article-heading {
    color: #2f3032;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 16px;
    font-family: Tungsten;
    font-weight: bold;
}

.article-tags {
    color: #a7aab0;
    font-size: .8125em;
    margin-bottom: .8125em;
    margin: 10px;
    margin-left: 0px;
}

.article-footer {
    border-top: 1px solid #f1f2f3;
    margin-top: 25px;
    padding: 1em 30px;
}

.article-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
.article-links li {
    display: inline-block;
    margin: 0 0 2px 0;
}
.article-links a {
    color: #fff;
    background: #66a5e9;
    border-radius: 2px;
    font-size: 0.6875rem;
    padding: 3px 10px;
    transition: background 0.3s ease;
}
.article-links a:hover {
    background: #4785C7;
    text-decoration: none;
}

/* BAR CHARTS */
.chart {
    -webkit-backface-visibility: hidden;
    /*Fix for blink bug*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 220px;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.chart:hover {
    opacity: 1;
}

.chart:hover [class*=rating-bar] {
    -webkit-animation: grow 0.5s ease forwards;
    -moz-animation: grow 0.5s ease forwards;
    -o-animation: grow 0.5s ease forwards;
    animation: grow 0.5s ease forwards;
}

[class*=rating-bar] {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    padding: 10px;
    height: 50px;
    color: #fff;
    text-align: right;
    white-space: nowrap;
    font-size: 11px;
    opacity: .8;
    transition: opacity 0.3s ease;
}
[class*=rating-bar]:after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
}
[class*=rating-bar]:hover {
    opacity: 1;
}

.rating-bar-1 {
    background-color: #4ECDC4;
}
.rating-bar-1:before {
    content: "Project size";
}

.rating-bar-2 {
    background-color: #FF6B6B;
}
.rating-bar-2:before {
    content: "Contribution";
}

@-webkit-keyframes grow {
    0% {
        width: 0px;
    }
}
@-moz-keyframes grow {
    0% {
        width: 0px;
    }
}
@-o-keyframes grow {
    0% {
        width: 0px;
    }
}
@keyframes grow {
    0% {
        width: 0px;
    }
}
.rating-small {
    width: 25%;
}
.rating-small:after {
    content: " SMALL";
}

.rating-medium {
    width: 50%;
}
.rating-medium:after {
    content: " MEDIUM";
}

.rating-large {
    width: 75%;
}
.rating-large:after {
    content: " LARGE";
}

.rating-xlarge {
    width: 100%;
}
.rating-xlarge:after {
    content: " X-LARGE";
}
