/*Fonts*/
@font-face {
    font-family: "Tungsten";
    src: url(../fonts/Tungsten-Semibold.ttf) format("truetype");
}

#home-container {
    position: relative;
    top: 800px;
    height: 1000px;
    width: 100%;
    background-color: black;
    z-index: 100;
}


/*Text Highlight Navbar*/
div.navContainer
{
    font-family: Tungsten;
    /*margin: 0 auto;*/
    /*padding: 0em 3em;*/
    text-align: center;
    height: 65px;
    background-color: #1D2731;
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.5);
    z-index: 100;

}

div.navContainer a
{
    text-decoration: none;
    font: 50px Tungsten;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

div.highlightTextIn a:hover
{
    color: #000000;
    background-color: #D9B310;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 1s;
    transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */
div.highlightTextIn a
{
    color: white;
}
